<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Kafka Shop</h1>
        <p>회원 기능</p>
        <p>
            <!-- 로그인/로그아웃 링크 -->
            <a th:if="${not isAuthenticated}" href="/user/signUp">회원 가입</a>
            <a th:if="${not isAuthenticated}" href="/user/login">로그인</a>
            <a th:if="${isAuthenticated}" href="/user/logout">로그아웃</a>

            <!-- 회원 목록 링크 -->
            <a th:if="${#strings.equals(loggedInUsername, 'admin')}" href="/user/userList">회원 목록</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>
